__pycache__/
.ipynb_checkpoints/
.venv/
.mypy_cache/
*.pyc

/Users/fabricesashinkumar/Desktop/GitHub/RiskAnalysis/Risk-Analysis-CW/q1.m
/Users/fabricesashinkumar/Desktop/GitHub/RiskAnalysis/Risk-Analysis-CW/q4.m
/Users/fabricesashinkumar/Desktop/GitHub/RiskAnalysis/Risk-Analysis-CW/q5_1.m
/Users/fabricesashinkumar/Desktop/GitHub/RiskAnalysis/Risk-Analysis-CW/q5_3.m   